# This configuration is to deploy all of the Prometheus Exporters, but not the LGTM Stack or OTEL collector.
# Use this if you already have a collector and just want to scrape all metrics from LangSmith.

langsmithNamespace: "langsmith" # Change this value to match your LangSmith namespace.
langSmithReleaseName: "langsmith" # Change this value to match your LangSmith release name.

kube-state-metrics:
  enabled: true
  # Change this value to match your LangSmith namespace.
  namespaces: "langsmith"

postgres-exporter:
  enabled: true
  config:
    # Change these values to match your Postgres instance.
    datasource:
      host: "langsmith-postgres.langsmith.svc.cluster.local"
      user: "postgres"
      password: "postgres"
      database: "postgres"
      port: "5432"

nginx-exporter:
  enabled: true
  # Change this value to match your LangSmith frontend service.
  nginxServer: "http://langsmith-frontend.langsmith.svc.cluster.local:80/nginx_status"

redis-exporter:
  enabled: true
  # Change this value to match your Redis instance.
  redisAddress: "langsmith-redis.langsmith.svc.cluster.local:6379"