{{- define "validateIngress" -}}
{{- if and .Values.ingress.enabled .Values.gateway.enabled}}
{{- fail "Both ingress and gateway cannot be enabled at the same time." -}}
{{- end -}}
{{- end -}}
{{- template "validateIngress" . -}}
{{- if and .Values.ingress.enabled .Values.ingress.create }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "langgraphDataplane.fullname" . }}-ingress
  namespace: {{ .Values.namespace | default .Release.Namespace }}
  annotations:
    {{- include "langgraphDataplane.annotations" . | nindent 4 }}
    {{- with .Values.ingress.annotations }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- if .Values.ingress.hostname }}
    external-dns.alpha.kubernetes.io/hostname: {{ .Values.ingress.hostname }}
    {{- end }}
    lgp-operator.io/shared-ingress: "true"
  labels:
    {{- include "langgraphDataplane.labels" . | nindent 4 }}
    {{- with .Values.ingress.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  ingressClassName: {{ .Values.ingress.ingressClassName }}
  {{- with .Values.ingress.tls }}
  tls:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  rules:
  - host: {{ .Values.ingress.hostname }}
    http:
      paths:
      - path: {{ ternary (printf "%s/metrics" .Values.ingress.metricsPrefix) "/metrics" (not (empty .Values.ingress.metricsPrefix)) }}
        pathType: Prefix
        backend:
          service:
            name: {{ include "langgraphDataplane.fullname" . }}-operator
            port:
              number: 8081
      # Allow additional paths here if needed
      {{- with .Values.ingress.additionalPaths }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
{{- end }}
