j# Contains environment variables that may need to be overwritten by extraEnvs.
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "langsmith.fullname" . }}-config
  labels:
    {{- include "langsmith.labels" . | nindent 4 }}
  annotations:
    {{- include "langsmith.annotations" . | nindent 4 }}
data:
  {{- if and .Values.config.oauth.enabled (eq .Values.config.authType "mixed") }}
  VITE_BACKEND_AUTH_TYPE: "mixed"
  AUTH_TYPE: "mixed"
  BASIC_AUTH_ENABLED: "false"
  {{- else if .Values.config.oauth.enabled }}
  VITE_BACKEND_AUTH_TYPE: "oauth"
  AUTH_TYPE: "oauth"
  {{- else if and .Values.config.basicAuth.enabled (eq .Values.config.authType "mixed") }}
  VITE_BACKEND_AUTH_TYPE: "mixed"
  AUTH_TYPE: "mixed"
  BASIC_AUTH_ENABLED: "true"
  VITE_BASIC_AUTH_ENABLED: "true"
  {{- else }}
  VITE_BACKEND_AUTH_TYPE: "none"
  AUTH_TYPE: "none"
  {{- end }}
  LANGCHAIN_ENV: "local_kubernetes"
  GO_ENDPOINT: "http://{{ include "langsmith.fullname" . }}-{{ .Values.platformBackend.name }}:{{ .Values.platformBackend.service.port }}"
  GO_ACE_ENDPOINT: "http://{{ include "langsmith.fullname" . }}-{{.Values.aceBackend.name}}:{{ .Values.aceBackend.service.port }}"
  PLAYGROUND_ENDPOINT: "http://{{ include "langsmith.fullname" . }}-{{.Values.playground.name}}:{{ .Values.playground.service.port }}"
  SMITH_BACKEND_ENDPOINT: "http://{{ include "langsmith.fullname" . }}-{{.Values.backend.name}}:{{ .Values.backend.service.port }}"
