# Contains environment variables that may need to be overwritten by extraEnvs.
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "langsmith.fullname" . }}-config
  namespace: {{ .Values.namespace | default .Release.Namespace }}
  labels:
    {{- include "langsmith.labels" . | nindent 4 }}
  annotations:
    {{- include "langsmith.annotations" . | nindent 4 }}
data:
  {{- if and .Values.config.oauth.enabled (eq .Values.config.authType "mixed") }}
  VITE_BACKEND_AUTH_TYPE: "mixed"
  AUTH_TYPE: "mixed"
  BASIC_AUTH_ENABLED: "false"
  INITIAL_ORG_NAME: {{ .Values.config.initialOrgName }}
  DEFAULT_WORKSPACE_NAME: {{ .Values.config.defaultWorkspaceName }}
  OAUTH_SCOPES: {{ .Values.config.oauth.oauthScopes }}
  OAUTH_SESSION_MAX_SEC: {{ .Values.config.oauth.oauthSessionMaxSec | quote }}
  {{- else if .Values.config.oauth.enabled }}
  VITE_BACKEND_AUTH_TYPE: "oauth"
  AUTH_TYPE: "oauth"
  {{- else if and .Values.config.basicAuth.enabled (eq .Values.config.authType "mixed") }}
  VITE_BACKEND_AUTH_TYPE: "mixed"
  AUTH_TYPE: "mixed"
  BASIC_AUTH_ENABLED: "true"
  VITE_BASIC_AUTH_ENABLED: "true"
  INITIAL_ORG_NAME: {{ .Values.config.initialOrgName }}
  DEFAULT_WORKSPACE_NAME: {{ .Values.config.defaultWorkspaceName }}
  {{- else }}
  VITE_BACKEND_AUTH_TYPE: "none"
  AUTH_TYPE: "none"
  {{- end }}
  LANGCHAIN_ENV: "local_kubernetes"
  LANGCHAIN_ENDPOINT: "/{{ if .Values.config.basePath }}{{ .Values.config.basePath }}/{{ end }}api/v1"
  GO_ENDPOINT: "http://{{ include "langsmith.fullname" . }}-{{ .Values.platformBackend.name }}.{{ .Values.namespace | default .Release.Namespace }}.svc.{{ .Values.clusterDomain }}:{{ .Values.platformBackend.service.port }}"
  GO_ACE_ENDPOINT: "http://{{ include "langsmith.fullname" . }}-{{.Values.aceBackend.name}}.{{ .Values.namespace | default .Release.Namespace }}.svc.{{ .Values.clusterDomain }}:{{ .Values.aceBackend.service.port }}"
  PLAYGROUND_ENDPOINT: "http://{{ include "langsmith.fullname" . }}-{{.Values.playground.name}}.{{ .Values.namespace | default .Release.Namespace }}.svc.{{ .Values.clusterDomain }}:{{ .Values.playground.service.port }}"
  SMITH_BACKEND_ENDPOINT: "http://{{ include "langsmith.fullname" . }}-{{.Values.backend.name}}.{{ .Values.namespace | default .Release.Namespace }}.svc.{{ .Values.clusterDomain }}:{{ .Values.backend.service.port }}"
  HOST_BACKEND_ENDPOINT: "http://{{ include "langsmith.fullname" . }}-{{.Values.hostBackend.name}}.{{ .Values.namespace | default .Release.Namespace }}.svc.{{ .Values.clusterDomain }}:{{ .Values.hostBackend.service.port }}"
  FF_RUN_STATS_GROUP_BY_ENABLED_ALL: "true"
  SEPARATE_QUEUES_WITH_SINGLE_WORKER: '["host"]'
  {{- if .Values.config.observability.tracing.enabled }}
  OTEL_TRACING_ENABLED: "{{ .Values.config.observability.tracing.enabled }}"
  OTLP_ENDPOINT: "{{ .Values.config.observability.tracing.endpoint }}"
  OTEL_ENVIRONMENT: "{{ .Values.config.observability.tracing.env }}"
  OTEL_EXPORTER: "{{ .Values.config.observability.tracing.exporter }}"
  OTEL_USE_TLS: "{{ .Values.config.observability.tracing.useTls }}"
  {{- else }}
  OTEL_TRACING_ENABLED: "false"
  {{- end }}
  # Self-hosted telemetry
  ENABLE_POSTGRES_METRICS_CRON: {{ ternary "true" "false" .Values.config.telemetry.metrics | quote }}
  ENABLE_REDIS_METRICS_CRON: {{ ternary "true" "false" .Values.config.telemetry.metrics | quote }}
  ENABLE_CLICKHOUSE_METRICS_CRON: {{ ternary "true" "false" .Values.config.telemetry.metrics | quote }}
  BEACON_METRICS_ENABLED: {{ ternary "true" "false" .Values.config.telemetry.metrics | quote }}
  BEACON_TRACING_ENABLED: {{ ternary "true" "false" .Values.config.telemetry.traces | quote }}
  # Feedback from postgres
  FEEDBACK_CONFIG_SKIP_INGEST_CH_WRITE: "true"
  FF_USE_PG_FOR_FEEDBACK_CONFIGS_FETCH_ENABLED_ALL: "true"
  FF_USE_PG_FOR_FEEDBACK_FETCH_ENABLED_ALL: "true"
