{{- if not .Values.redis.external.existingSecretName }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "langgraphDataplane.redisSecretsName" .}}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "langgraphDataplane.labels" . | nindent 4 }}
  annotations:
    {{- include "langgraphDataplane.annotations" . | nindent 4 }}
data:
  {{- if .Values.redis.external.enabled }}
    connection_url: {{ .Values.redis.external.connectionUrl | b64enc }}
  {{- else }}
    connection_url: {{ printf "redis://%s-%s:%v" (include "langgraphDataplane.fullname" .) .Values.redis.name .Values.redis.service.port | b64enc }}
  {{- end}}
{{- end }}
