apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "langsmith.fullname" . }}-{{ .Values.backend.name }}
  labels:
    {{- include "langsmith.labels" . | nindent 4 }}
    {{- with.Values.backend.deployment.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- include "langsmith.annotations" . | nindent 4 }}
    {{- with.Values.backend.deployment.annotations }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  {{- if not .Values.backend.autoscaling.enabled }}
  replicas: {{ .Values.backend.deployment.replicas }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "langsmith.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: {{ include "langsmith.fullname" . }}-{{ .Values.backend.name }}
  template:
    metadata:
      annotations:
        rollme: {{ randAlphaNum 5 | quote }}
      {{- with .Values.backend.deployment.annotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- with.Values.backend.deployment.labels }}
            {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- include "langsmith.labels" . | nindent 8 }}
        app.kubernetes.io/component: {{ include "langsmith.fullname" . }}-{{ .Values.backend.name }}
    spec:
      {{- with .Values.images.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.backend.deployment.podSecurityContext | nindent 8 }}
      serviceAccountName: {{ include "backend.serviceAccountName" . }}
      containers:
        - name: {{ .Values.backend.name }}
          {{- with.Values.backend.deployment.command }}
          command:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            {{- include "langsmith.commonEnv" . | nindent 12 }}
            - name: PORT
              value: {{ .Values.backend.containerPort | quote }}
            {{- with .Values.backend.deployment.extraEnv }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
          envFrom:
            - configMapRef:
                name: {{ include "langsmith.fullname" . }}-config
          image: "{{ .Values.images.backendImage.repository }}:{{ .Values.images.backendImage.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.images.backendImage.pullPolicy }}
          ports:
            - name: backend
              containerPort: {{ .Values.backend.containerPort }}
              protocol: TCP
          {{- with .Values.backend.deployment.startupProbe }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.backend.deployment.livenessProbe }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.backend.deployment.readinessProbe }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.backend.deployment.resources | nindent 12 }}
          securityContext:
            {{- toYaml .Values.backend.deployment.securityContext | nindent 12 }}
          {{- with .Values.backend.deployment.volumeMounts }}
          volumeMounts:
              {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.backend.deployment.extraContainerConfig }}
            {{- toYaml . | nindent 10 }}
          {{- end }}
        {{- with .Values.backend.deployment.sidecars }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.backend.deployment.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.backend.deployment.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.backend.deployment.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.backend.deployment.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
