{{- if .Values.config.fullTextSearch.indexing.enabled -}}
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "langsmith.fullname" . }}-{{ .Values.quickwit.searcher.name }}
  labels:
    {{- include "quickwit.labels" . | nindent 4 }}
    {{- with .Values.quickwit.searcher.statefulSet.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- include "langsmith.annotations" . | nindent 4 }}
    {{- with .Values.quickwit.searcher.statefulSet.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  replicas: {{ .Values.quickwit.searcher.statefulSet.replicas }}
  serviceName: {{ include "langsmith.fullname" . }}-{{ .Values.quickwit.name }}-headless
  podManagementPolicy: OrderedReady
  selector:
    matchLabels:
      {{- include "quickwit.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: {{ include "langsmith.fullname" . }}-{{ .Values.quickwit.searcher.name }}
  updateStrategy:
    {{- toYaml .Values.quickwit.searcher.statefulSet.updateStrategy | nindent 4 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/config-map.yaml") . | sha256sum }}
      {{- with .Values.quickwit.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.quickwit.searcher.statefulSet.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "quickwit.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: {{ include "langsmith.fullname" . }}-{{ .Values.quickwit.searcher.name }}
    spec:
      {{- with .Values.images.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "quickwit.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.quickwit.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Values.quickwit.name }}
          securityContext:
            {{- toYaml .Values.quickwit.securityContext | nindent 12 }}
          image: "{{ .Values.images.quickwitImage.repository }}:{{ .Values.images.quickwitImage.tag }}"
          imagePullPolicy: {{ .Values.images.quickwitImage.pullPolicy }}
          args: ["run", "--service", "searcher"]
          env:
          {{- include "quickwit.environment" . | nindent 12 }}
          {{- with .Values.quickwit.searcher.statefulSet.extraEnv }}
          {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- if or (.Values.quickwit.environmentFrom) (.Values.quickwit.searcher.statefulSet.extraEnvFrom) }}
          envFrom:
          {{- with .Values.quickwit.environmentFrom }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.quickwit.searcher.statefulSet.extraEnvFrom }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- end }}
          ports:
            {{- toYaml .Values.quickwit.ports | nindent 12 }}
          {{- toYaml .Values.quickwit.probes | nindent 10 }}
          volumeMounts:
            - name: config
              mountPath: /quickwit/node.yaml
              subPath: node.yaml
            - name: data
              mountPath: /quickwit/qwdata
            {{- with .Values.quickwit.searcher.statefulSet.extraVolumeMounts }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
          resources:
            {{- toYaml .Values.quickwit.searcher.statefulSet.resources | nindent 14 }}
      {{- if .Values.quickwit.searcher.statefulSet.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ .Values.quickwit.searcher.statefulSet.terminationGracePeriodSeconds }}
      {{- end }}
      volumes:
        - name: config
          configMap:
            name: {{ include "quickwit.configMapName" . }}
            items:
              - key: node.yaml
                path: node.yaml
        {{- if not .Values.quickwit.searcher.statefulSet.persistentVolume.enabled }}
        - name: data
          emptyDir: {}
        {{- end }}
        {{- with .Values.quickwit.searcher.statefulSet.extraVolumes }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.quickwit.searcher.statefulSet.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with  merge .Values.quickwit.affinity .Values.quickwit.searcher.statefulSet.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.quickwit.searcher.statefulSet.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  {{- if .Values.quickwit.searcher.statefulSet.persistentVolume.enabled }}
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: "{{ .Values.quickwit.searcher.statefulSet.persistentVolume.storage }}"
      {{- if .Values.quickwit.searcher.statefulSet.persistentVolume.storageClass }}
        storageClassName: "{{ .Values.quickwit.searcher.statefulSet.persistentVolume.storageClass }}"
      {{- end }}
  {{- end }}
{{- end }}
