{{- if .Values.operator.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "langgraphDataplane.fullname" . }}-{{ .Values.operator.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "langgraphDataplane.labels" . | nindent 4 }}
    app.kubernetes.io/component: {{ include "langgraphDataplane.fullname" . }}-{{ .Values.operator.name }}
    {{- with .Values.operator.deployment.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- include "langgraphDataplane.annotations" . | nindent 4 }}
    {{- with .Values.operator.deployment.annotations }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  replicas: {{ .Values.operator.deployment.replicas }}
  selector:
    matchLabels:
      {{- include "langgraphDataplane.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: {{ include "langgraphDataplane.fullname" . }}-{{ .Values.operator.name }}
  template:
    metadata:
      annotations:
        {{- with .Values.operator.deployment.annotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        checksum/config: {{ include (print $.Template.BasePath "/operator/config-map.yaml") . | sha256sum }}
      labels:
        {{- include "langgraphDataplane.labels" . | nindent 8 }}
        app.kubernetes.io/component: {{ include "langgraphDataplane.fullname" . }}-{{ .Values.operator.name }}
        {{- with .Values.operator.deployment.labels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      serviceAccountName: {{ include "operator.serviceAccountName" . }}
      {{- with .Values.images.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.operator.deployment.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
      - command:
        - /manager
        args:
          - --leader-elect
          - --health-probe-bind-address=:8081
        image: "{{ .Values.images.operatorImage.repository }}:{{ .Values.images.operatorImage.tag | default "latest" }}"
        imagePullPolicy: {{ .Values.images.operatorImage.pullPolicy }}
        name: {{ .Values.operator.name }}
        {{- with .Values.operator.deployment.securityContext }}
        securityContext:
        {{- toYaml . | nindent 10 }}
        {{- end }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          {{- if .Values.operator.deployment.resources }}
          {{- toYaml .Values.operator.deployment.resources | nindent 12 }}
          {{- else }}
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
          {{- end }}
        volumeMounts:
          - name: templates-volume
            mountPath: /templates
        {{- with .Values.operator.deployment.volumeMounts }}
          {{- toYaml . | nindent 12 }}
        {{- end }}
        env:
          - name: WATCH_NAMESPACE
            value: {{ .Values.operator.watchNamespaces | quote }}
          - name: KEDA_ENABLED
            value: {{ .Values.operator.kedaEnabled | quote }}
          - name: SHARED_INGRESS_NAME
            value: {{ include "langgraphDataplane.fullname" . }}-ingress
          - name: SHARED_INGRESS_NAMESPACE
            value: {{ .Release.Namespace }}
          - name: ROOT_DOMAIN
            value: {{ .Values.ingress.hostname | quote }}
          - name: TLS_ENABLED
            value: {{ .Values.ingress.tlsEnabled | quote }}
        {{- with .Values.operator.deployment.extraEnv }}
          {{- toYaml . | nindent 12 }}
        {{- end }}
      {{- with .Values.operator.deployment.sidecars }}
      {{- toYaml . | nindent 8 }}
      {{- end }}
      terminationGracePeriodSeconds: {{ .Values.operator.deployment.terminationGracePeriodSeconds | default 10 }}
      {{- with .Values.operator.deployment.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.operator.deployment.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.operator.deployment.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: templates-volume
          configMap:
            name: {{ include "langgraphDataplane.fullname" . }}-config
            items:
              - key: deployment.yaml
                path: deployment.yaml
              - key: service.yaml
                path: service.yaml
      {{- with .Values.operator.deployment.volumes }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
