{{- define "frontendEnvVars" -}}
{{- if .Values.config.oauth.enabled }}
- name: VITE_OAUTH_CLIENT_ID
  valueFrom:
    secretKeyRef:
      key: oauth_client_id
      name: {{ include "langsmith.secretsName" .}}
- name: VITE_OAUTH_ISSUER_URL
  valueFrom:
    secretKeyRef:
      key: oauth_issuer_url
      name: {{ include "langsmith.secretsName" .}}
{{- end }}
{{- if .Values.ingress.subdomain }}
- name: VITE_SUBDOMAIN
  value: {{ .Values.ingress.subdomain }}
{{- end }}
{{- if .Values.config.customLogo.enabled }}
- name: VITE_CUSTOM_LOGO_URL
  value: {{ .Values.config.customLogo.logoUrl | quote }}
- name: VITE_CO_BRANDING_ENABLED
  value: {{ .Values.config.customLogo.coBrandingEnabled | quote }}
{{- end }}
{{- if .Values.config.langgraphPlatform.enabled }}
- name: VITE_HOST_ENABLED
  value: "1"
{{- end }}
{{- end -}}
{{- $envVars := concat .Values.commonEnv (include "frontendEnvVars" . | fromYamlArray) .Values.frontend.deployment.extraEnv -}}
{{- include "langsmith.detectDuplicates" $envVars -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "langsmith.fullname" . }}-{{ .Values.frontend.name }}
  labels:
    {{- include "langsmith.labels" . | nindent 4 }}
    {{- with.Values.frontend.deployment.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- include "langsmith.annotations" . | nindent 4 }}
    {{- with.Values.frontend.deployment.annotations }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  {{- if not .Values.frontend.autoscaling.enabled }}
  replicas: {{ .Values.frontend.deployment.replicas }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "langsmith.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: {{ include "langsmith.fullname" . }}-{{ .Values.frontend.name }}
  template:
    metadata:
      annotations:
      {{- include "langsmith.observabilityAnnotations" . | nindent 8 }}
      {{- include "langsmith.checksumAnnotations" . | nindent 8 }}
      {{- with .Values.frontend.deployment.annotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- with.Values.frontend.deployment.labels }}
            {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- include "langsmith.labels" . | nindent 8 }}
        app.kubernetes.io/component: {{ include "langsmith.fullname" . }}-{{ .Values.frontend.name }}
    spec:
      terminationGracePeriodSeconds: {{ .Values.frontend.deployment.terminationGracePeriodSeconds }}
      {{- with .Values.images.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.frontend.deployment.podSecurityContext | nindent 8 }}
      serviceAccountName: {{ include "frontend.serviceAccountName" . }}
      {{- with .Values.frontend.deployment.initContainers }}
      initContainers:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Values.frontend.name }}
          {{- with.Values.frontend.deployment.command }}
          command:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            {{- with $envVars }}
              {{ toYaml . | nindent 12 }}
            {{- end }}
          envFrom:
            - configMapRef:
                name: {{ include "langsmith.fullname" . }}-config
          image: {{ include "langsmith.image" (dict "Values" .Values "Chart" .Chart "component" "frontendImage") | quote }}
          imagePullPolicy: {{ .Values.images.frontendImage.pullPolicy }}
          ports:
            - name: frontend
              containerPort: {{ .Values.frontend.containerPort }}
              protocol: TCP
          {{- with .Values.frontend.deployment.startupProbe }}
          startupProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.frontend.deployment.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.frontend.deployment.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.frontend.deployment.resources | nindent 12 }}
          securityContext:
            {{- toYaml .Values.frontend.deployment.securityContext | nindent 12 }}
          volumeMounts:
            {{- with .Values.frontend.deployment.volumeMounts }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
            - mountPath: /etc/nginx/conf.d/default.conf
              name: nginx-conf
              subPath: nginx.conf
          {{- with .Values.frontend.deployment.extraContainerConfig }}
            {{- toYaml . | nindent 10 }}
          {{- end }}
        {{- with .Values.frontend.deployment.sidecars }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.frontend.deployment.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.frontend.deployment.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.frontend.deployment.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.frontend.deployment.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        {{- with .Values.frontend.deployment.volumes }}
            {{- toYaml . | nindent 8 }}
        {{- end }}
        - name: nginx-conf
          configMap:
            {{- if .Values.frontend.existingConfigMapName }}
            name: {{ .Values.frontend.existingConfigMapName }}
            {{- else }}
            name: {{ include "langsmith.fullname" . }}-{{ .Values.frontend.name }}
            {{- end }}
            items:
              - key: nginx.conf
                path: nginx.conf
