apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "langsmith.fullname" . }}-{{ .Values.frontend.name }}
  labels:
    {{- include "langsmith.labels" . | nindent 4 }}
    {{- with.Values.frontend.deployment.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- include "langsmith.annotations" . | nindent 4 }}
    {{- with.Values.frontend.deployment.annotations }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  {{- if not .Values.frontend.autoscaling.enabled }}
  replicas: {{ .Values.frontend.deployment.replicas }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "langsmith.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: {{ include "langsmith.fullname" . }}-{{ .Values.frontend.name }}
  template:
    metadata:
      annotations:
        rollme: {{ randAlphaNum 5 | quote }}
      {{- with .Values.frontend.deployment.annotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- with.Values.frontend.deployment.labels }}
            {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- include "langsmith.labels" . | nindent 8 }}
        app.kubernetes.io/component: {{ include "langsmith.fullname" . }}-{{ .Values.frontend.name }}
    spec:
      {{- with .Values.images.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.frontend.deployment.podSecurityContext | nindent 8 }}
      serviceAccountName: {{ include "frontend.serviceAccountName" . }}
      containers:
        - name: {{ .Values.frontend.name }}
          {{- with.Values.frontend.deployment.command }}
          command:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            {{- if .Values.config.oauth.enabled }}
            - name: VITE_OAUTH_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  key: oauth_client_id
                  name: {{ include "langsmith.secretsName" .}}
            - name: VITE_OAUTH_ISSUER_URL
              valueFrom:
                secretKeyRef:
                  key: oauth_issuer_url
                  name: {{ include "langsmith.secretsName" .}}
            {{- end }}
            {{- with .Values.frontend.deployment.extraEnv }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
            {{- if .Values.ingress.subdomain }}
            - name: VITE_SUBDOMAIN
              value: {{ .Values.ingress.subdomain }}
            {{- end }}
          envFrom:
            - configMapRef:
                name: {{ include "langsmith.fullname" . }}-config
          image: "{{ .Values.images.frontendImage.repository }}:{{ .Values.images.frontendImage.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.images.frontendImage.pullPolicy }}
          ports:
            - name: frontend
              containerPort: {{ .Values.frontend.containerPort }}
              protocol: TCP
          {{- with .Values.frontend.deployment.startupProbe }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.frontend.deployment.livenessProbe }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.frontend.deployment.readinessProbe }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.frontend.deployment.resources | nindent 12 }}
          securityContext:
            {{- toYaml .Values.frontend.deployment.securityContext | nindent 12 }}
          volumeMounts:
            {{- with .Values.frontend.deployment.volumeMounts }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
            - mountPath: /etc/nginx/conf.d/default.conf
              name: nginx-conf
              subPath: nginx.conf
          {{- with .Values.frontend.deployment.extraContainerConfig }}
            {{- toYaml . | nindent 10 }}
          {{- end }}
        {{- with .Values.frontend.deployment.sidecars }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.frontend.deployment.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.frontend.deployment.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.frontend.deployment.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        {{- with .Values.frontend.deployment.volumes }}
            {{- toYaml . | nindent 8 }}
        {{- end }}
        - name: nginx-conf
          configMap:
            {{- if .Values.frontend.existingConfigMapName }}
            name: {{ .Values.frontend.existingConfigMapName }}
            {{- else }}
            name: {{ include "langsmith.fullname" . }}-{{ .Values.frontend.name }}
            {{- end }}
            items:
              - key: nginx.conf
                path: nginx.conf
