apiVersion: v1
kind: Service
metadata:
  name: {{ include "langsmith.fullname" . }}-{{ .Values.frontend.name }}
  labels:
    {{- include "langsmith.labels" . | nindent 4 }}
    {{- with .Values.frontend.service.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- include "langsmith.annotations" . | nindent 4 }}
    {{- with .Values.frontend.service.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  type: {{ .Values.frontend.service.type }}
  {{- with .Values.frontend.service.loadBalancerSourceRanges }}
  loadBalancerSourceRanges:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  ports:
  - name: http
    port: {{ .Values.frontend.service.httpPort }}
    targetPort: frontend
    protocol: TCP
  - name: https
    port: {{ .Values.frontend.service.httpsPort }}
    targetPort: frontend
    protocol: TCP
  {{- if .Values.frontend.service.additionalSpec }}
  {{- toYaml .Values.frontend.service.additionalSpec | nindent 2 }}
  {{- end }}
  selector:
    {{- include "langsmith.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: "{{ include "langsmith.fullname" . }}-{{ .Values.frontend.name }}"
