{{- if not .Values.clickhouse.external.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "langsmith.fullname" . }}-{{ .Values.clickhouse.name }}
  labels:
    {{- include "langsmith.labels" . | nindent 4 }}
  annotations:
    {{- include "langsmith.annotations" . | nindent 4 }}
data:
  users.xml: |
    <clickhouse>
        <users>
            <{{ .Values.clickhouse.external.user }}>
                <access_management>1</access_management>
                <named_collection_control>1</named_collection_control>
                <show_named_collections>1</show_named_collections>
                <show_named_collections_secrets>1</show_named_collections_secrets>
                <profile>default</profile>
            </{{ .Values.clickhouse.external.user }}>
        </users>
        <profiles>
            <default>
                <async_insert>1</async_insert>
                <async_insert_max_data_size>2000000</async_insert_max_data_size>
                <wait_for_async_insert>0</wait_for_async_insert>
                <parallel_view_processing>1</parallel_view_processing>
                <materialize_ttl_after_modify>0</materialize_ttl_after_modify>
                <wait_for_async_insert_timeout>25</wait_for_async_insert_timeout>
                <lightweight_deletes_sync>0</lightweight_deletes_sync>
                {{- if not .Values.clickhouse.config.allowSimdjson }}
                <allow_simdjson>0</allow_simdjson>
                {{- end }}
            </default>
        </profiles>
    </clickhouse>

  logging_config.xml: |
    <clickhouse>
        <logger>
          <level>{{ .Values.clickhouse.config.logLevel }}</level>

          <!-- This logs to files -->
          <log>/var/log/clickhouse-server/clickhouse.log</log>
          <errorlog>/var/log/clickhouse-server/clickhouse.err.log</errorlog>
          
          <!-- This logs to stdout/stderr -->
          <console>true</console>

          <!-- This rotates the log file every 1000M and keeps up to 10 files -->
          <size>1000M</size>
          <count>10</count>
      </logger>
    </clickhouse>

  {{- if .Values.clickhouse.metrics.enabled }}
  metrics_config.xml: |
    <clickhouse>
      <prometheus>
        <endpoint>/metrics</endpoint>
        <port>{{ .Values.clickhouse.metrics.port }}</port>
        <metrics>true</metrics>
        <events>true</events>
        <asynchronous_metrics>true</asynchronous_metrics>
        <errors>true</errors>
      </prometheus>
    </clickhouse>
  {{- end }}
{{- end }}
