{{- if not .Values.clickhouse.external.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "langsmith.fullname" . }}-{{ .Values.clickhouse.name }}
  labels:
    {{- include "langsmith.labels" . | nindent 4 }}
  annotations:
    {{- include "langsmith.annotations" . | nindent 4 }}
data:
  users.xml: |
    <clickhouse>
        <users>
            <{{ .Values.clickhouse.external.user }}>
                <access_management>1</access_management>
                <named_collection_control>1</named_collection_control>
                <show_named_collections>1</show_named_collections>
                <show_named_collections_secrets>1</show_named_collections_secrets>
                <profile>default</profile>
            </{{ .Values.clickhouse.external.user }}>
        </users>
        <profiles>
            <default>
                <async_insert>1</async_insert>
                <async_insert_max_data_size>2000000</async_insert_max_data_size>
                <wait_for_async_insert>0</wait_for_async_insert>
                <parallel_view_processing>1</parallel_view_processing>
            </default>
        </profiles>
    </clickhouse>
{{- end }}
