{{- if not .Values.clickhouse.external.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "langsmith.fullname" . }}-{{ .Values.clickhouse.name }}
  namespace: {{ .Values.namespace | default .Release.Namespace | quote }}
  labels:
    {{- include "langsmith.labels" . | nindent 4 }}
    {{- with.Values.clickhouse.service.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
    app.kubernetes.io/component: {{ include "langsmith.fullname" . }}-{{ .Values.clickhouse.name }}
  annotations:
    {{- include "langsmith.annotations" . | nindent 4 }}
    {{- with.Values.clickhouse.service.annotations }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  type: {{ .Values.clickhouse.service.type }}
  {{- with .Values.clickhouse.service.loadBalancerSourceRanges }}
  loadBalancerSourceRanges:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  loadBalancerIP: {{ .Values.clickhouse.service.loadBalancerIP }}
  ports:
    - name: ch
      port: {{ .Values.clickhouse.service.httpPort }}
      targetPort: ch
      protocol: TCP
    - name: ch-native
      port: {{ .Values.clickhouse.service.nativePort }}
      targetPort: ch-native
      protocol: TCP
    - name: metrics
      port: {{ .Values.clickhouse.metrics.port }}
      targetPort: {{ .Values.clickhouse.metrics.port }}
      protocol: TCP
  selector:
    {{- include "langsmith.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: {{ include "langsmith.fullname" . }}-{{ .Values.clickhouse.name }}
{{- end }}
