{{- define "clickhouseEnvVars" -}}
- name: CLICKHOUSE_DB
  valueFrom:
    secretKeyRef:
      name: {{ include "langsmith.clickhouseSecretsName" . }}
      key: clickhouse_db
      optional: {{ not .Values.clickhouse.requireSecret }}
- name: CLICKHOUSE_USER
  valueFrom:
    secretKeyRef:
      name: {{ include "langsmith.clickhouseSecretsName" . }}
      key: clickhouse_user
      optional: {{ not .Values.clickhouse.requireSecret }}
- name: CLICKHOUSE_PASSWORD
  valueFrom:
    secretKeyRef:
      name: {{ include "langsmith.clickhouseSecretsName" . }}
      key: clickhouse_password
      optional: {{ not .Values.clickhouse.requireSecret }}
{{- end -}}
{{- if not .Values.clickhouse.external.enabled }}
{{- $envVars := concat .Values.commonEnv (include "clickhouseEnvVars" . | fromYamlArray) .Values.clickhouse.statefulSet.extraEnv -}}
{{- include "langsmith.detectDuplicates" $envVars -}}
{{- $volumes := concat .Values.commonVolumes .Values.clickhouse.statefulSet.volumes -}}
{{- $volumeMounts := concat .Values.commonVolumeMounts .Values.clickhouse.statefulSet.volumeMounts -}}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "langsmith.fullname" . }}-{{ .Values.clickhouse.name }}
  namespace: {{ .Values.namespace | default .Release.Namespace }}
  labels:
    {{- include "langsmith.labels" . | nindent 4 }}
    {{- with.Values.clickhouse.statefulSet.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- include "langsmith.annotations" . | nindent 4 }}
    {{- with.Values.clickhouse.statefulSet.annotations }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  serviceName: {{ include "langsmith.fullname" . }}-{{ .Values.clickhouse.name }}
  replicas: 1
  selector:
    matchLabels:
      {{- include "langsmith.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: {{ include "langsmith.fullname" . }}-{{ .Values.clickhouse.name }}
  template:
    metadata:
      annotations:
        {{- include "langsmith.commonPodAnnotations" . | nindent 8 }}
        {{- with .Values.clickhouse.statefulSet.annotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
        checksum/config: '{{ include (print $.Template.BasePath "/clickhouse/config-map.yaml") . | sha256sum }}'
      labels:
        {{- with.Values.clickhouse.statefulSet.labels }}
            {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- include "langsmith.labels" . | nindent 8 }}
        app.kubernetes.io/component: {{ include "langsmith.fullname" . }}-{{ .Values.clickhouse.name }}
    spec:
      {{- with .Values.images.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.clickhouse.statefulSet.podSecurityContext | nindent 8 }}
      serviceAccountName: {{ include "clickhouse.serviceAccountName" . }}
      {{- with concat .Values.commonInitContainers .Values.clickhouse.statefulSet.initContainers }}
      initContainers:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Values.clickhouse.name }}
          image: {{ include "langsmith.image" (dict "Values" .Values "Chart" .Chart "component" "clickhouseImage") | quote }}
          imagePullPolicy: {{ .Values.images.clickhouseImage.pullPolicy }}
          {{- with.Values.clickhouse.statefulSet.command }}
          command:
             {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            {{- with $envVars }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
          ports:
            - name: ch
              containerPort: {{ .Values.clickhouse.containerHttpPort }}
              protocol: TCP
            - name: ch-native
              containerPort: {{ .Values.clickhouse.containerNativePort }}
              protocol: TCP
            - name: ch-metrics
              containerPort: {{ .Values.clickhouse.metrics.port }}
              protocol: TCP
          {{- with .Values.clickhouse.statefulSet.startupProbe }}
          startupProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.clickhouse.statefulSet.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.clickhouse.statefulSet.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.clickhouse.statefulSet.resources | nindent 12 }}
          securityContext:
            {{- toYaml .Values.clickhouse.statefulSet.securityContext | nindent 12 }}
          volumeMounts:
            {{- with $volumeMounts }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
            {{- if .Values.clickhouse.statefulSet.persistence.enabled }}
            - mountPath: /var/lib/clickhouse
              name: data
            {{- end }}
            - mountPath: /etc/clickhouse-server/users.d/users.xml
              name: clickhouse-conf
              subPath: users.xml
            - mountPath: /etc/clickhouse-server/config.d/logging_config.xml
              name: clickhouse-conf
              subPath: logging_config.xml
            - mountPath: /etc/clickhouse-server/config.d/metrics_config.xml
              name: clickhouse-conf
              subPath: metrics_config.xml
          {{- with .Values.clickhouse.statefulSet.extraContainerConfig }}
            {{- toYaml . | nindent 10 }}
          {{- end }}
        {{- with .Values.clickhouse.statefulSet.sidecars }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.clickhouse.statefulSet.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.clickhouse.statefulSet.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.clickhouse.statefulSet.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.clickhouse.statefulSet.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: clickhouse-conf
          configMap:
            name: {{ include "langsmith.fullname" . }}-{{ .Values.clickhouse.name }}
            items:
              - key: users.xml
                path: users.xml
              - key: logging_config.xml
                path: logging_config.xml
              - key: metrics_config.xml
                path: metrics_config.xml
      {{- with $volumes }}
          {{- toYaml . | nindent 8 }}
      {{- end }}
  {{- if .Values.clickhouse.statefulSet.persistence.enabled }}
  {{- with .Values.clickhouse.statefulSet.persistentVolumeClaimRetentionPolicy }}
  persistentVolumeClaimRetentionPolicy:
        {{- toYaml . | nindent 4 }}
  {{- end }}
  volumeClaimTemplates:
    - apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: data
        labels:
          {{- include "langsmith.selectorLabels" . | nindent 10 }}
          app.kubernetes.io/component: {{ include "langsmith.fullname" . }}-{{ .Values.clickhouse.name }}
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: {{ .Values.clickhouse.statefulSet.persistence.size }}
        {{- if .Values.clickhouse.statefulSet.persistence.storageClassName }}
        storageClassName: {{ .Values.clickhouse.statefulSet.persistence.storageClassName }}
        {{- end }}
  {{- end }}
{{- end }}
