{{- if .Values.hostQueue.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "hostQueue.serviceAccountName" . }}
  labels:
    {{- include "langsmith.labels" . | nindent 4 }}
    {{- with.Values.hostQueue.serviceAccount.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- include "langsmith.annotations" . | nindent 4 }}
    {{- with.Values.hostQueue.serviceAccount.annotations }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "hostQueue.serviceAccountName" . }}-admin-binding-{{ .Release.Namespace }}
subjects:
  - kind: ServiceAccount
    name: {{ include "hostQueue.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: cluster-admin
  apiGroup: rbac.authorization.k8s.io
{{- end }}
