{{- if .Values.e2eTest.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "e2eTest.serviceAccountName" . }}
  namespace: {{ .Values.namespace | default .Release.Namespace | quote }}
  labels:
    {{- include "langsmith.labels" . | nindent 4 }}
    {{- with.Values.e2eTest.deployment.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- include "langsmith.annotations" . | nindent 4 }}
    {{- with.Values.e2eTest.serviceAccount.annotations }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  automountServiceAccountToken: {{ .Values.e2eTest.serviceAccount.automountServiceAccountToken | default true }}
{{- end }}
