{{- if .Values.queue.enabled -}}
{{- $volumes := concat .Values.commonVolumes .Values.queue.deployment.volumes -}}
{{- $volumeMounts := concat .Values.commonVolumeMounts .Values.queue.deployment.volumeMounts -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "langGraphCloud.fullname" . }}-{{ .Values.queue.name }}
  namespace: {{ .Values.namespace | default .Release.Namespace | quote }}
  labels:
    {{- include "langGraphCloud.labels" . | nindent 4 }}
    {{- with.Values.queue.deployment.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- include "langGraphCloud.annotations" . | nindent 4 }}
    {{- with.Values.queue.deployment.annotations }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  {{- if not .Values.queue.autoscaling.enabled }}
  replicas: {{ .Values.queue.deployment.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "langGraphCloud.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: {{ include "langGraphCloud.fullname" . }}-{{ .Values.queue.name }}
  template:
    metadata:
      {{- with .Values.queue.deployment.annotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- with.Values.queue.deployment.labels }}
            {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- include "langGraphCloud.labels" . | nindent 8 }}
        app.kubernetes.io/component: {{ include "langGraphCloud.fullname" . }}-{{ .Values.queue.name }}
    spec:
      serviceAccountName: {{ include "queue.serviceAccountName" . }}
      {{- with .Values.images.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.queue.deployment.priorityClassName }}
      priorityClassName: {{ .Values.queue.deployment.priorityClassName }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.queue.deployment.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Values.queue.name }}
          command:
            - "python"
            - "-m"
            - "langgraph_api.queue_entrypoint"
          env:
            - name: PORT
              value: {{ .Values.queue.containerPort | quote }}
            - name: POSTGRES_URI
              valueFrom:
                secretKeyRef:
                  name: {{ include "langGraphCloud.postgresSecretsName" . }}
                  key: postgres_connection_url
            - name: REDIS_URI
              valueFrom:
                secretKeyRef:
                  name: {{ include "langGraphCloud.redisSecretsName" . }}
                  key: redis_connection_url
            - name: LANGGRAPH_CLOUD_LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "langGraphCloud.secretsName" . }}
                  key: langgraph_cloud_license_key
            {{- if .Values.config.auth.enabled }}
            - name: LANGGRAPH_AUTH_TYPE
              value: "langsmith"
            - name: LANGSMITH_AUTH_ENDPOINT
              value: {{ .Values.config.auth.langSmithAuthEndpoint }}
            - name: LANGSMITH_TENANT_ID
              value: {{ .Values.config.auth.langSmithTenantId }}
            {{- end }}
            - name: N_JOBS_PER_WORKER
              value: {{ .Values.config.numberOfJobsPerWorker | quote }}
            {{- with .Values.queue.deployment.extraEnv }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- with .Values.queue.deployment.envFrom }}
          envFrom:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: {{ include "langGraphCloud.image" (dict "Values" .Values "Chart" .Chart "component" "apiServerImage") | quote }}
          imagePullPolicy: {{ .Values.images.apiServerImage.pullPolicy }}
          ports:
            - name: queue
              containerPort: {{ .Values.queue.containerPort }}
              protocol: TCP
          startupProbe:
            {{- toYaml .Values.queue.deployment.startupProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.queue.deployment.readinessProbe | nindent 12 }}
          livenessProbe:
            {{- toYaml .Values.queue.deployment.livenessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.queue.deployment.resources | nindent 12 }}
          securityContext:
            {{- toYaml .Values.queue.deployment.securityContext | nindent 12 }}
          {{- with $volumeMounts }}
          volumeMounts:
              {{- toYaml . | nindent 12 }}
          {{- end }}
        {{- with .Values.queue.deployment.sidecars }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.queue.deployment.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.queue.deployment.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.queue.deployment.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $volumes }}
      volumes:
          {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end}}