{{- define "postgresEnvVars" -}}
- name: POSTGRES_DB
  valueFrom:
    secretKeyRef:
      name: {{ include "langsmith.postgresSecretsName" .}}
      key: postgres_db
      optional: {{ .Values.config.disableSecretCreation }}
- name: POSTGRES_PASSWORD
  valueFrom:
    secretKeyRef:
      name: {{ include "langsmith.postgresSecretsName" .}}
      key: postgres_password
      optional: {{ .Values.config.disableSecretCreation }}
- name: POSTGRES_USER
  valueFrom:
    secretKeyRef:
      name: {{ include "langsmith.postgresSecretsName" .}}
      key: postgres_user
      optional: {{ .Values.config.disableSecretCreation }}
- name: PGDATA
  value: /var/lib/postgresql/data/postgres
{{- end -}}
{{- if not .Values.postgres.external.enabled }}
{{- $envVars := concat .Values.commonEnv (include "postgresEnvVars" . | fromYamlArray) .Values.postgres.statefulSet.extraEnv -}}
{{- include "langsmith.detectDuplicates" $envVars -}}
{{- $volumes := concat .Values.commonVolumes .Values.postgres.statefulSet.volumes -}}
{{- $volumeMounts := concat .Values.commonVolumeMounts .Values.postgres.statefulSet.volumeMounts -}}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "langsmith.fullname" . }}-{{ .Values.postgres.name }}
  namespace: {{ .Values.namespace | default .Release.Namespace }}
  labels:
    {{- include "langsmith.labels" . | nindent 4 }}
    {{- with.Values.postgres.statefulSet.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- include "langsmith.annotations" . | nindent 4 }}
    {{- with.Values.postgres.statefulSet.annotations }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  serviceName: {{ include "langsmith.fullname" . }}-{{ .Values.postgres.name }}
  replicas: 1
  selector:
    matchLabels:
      {{- include "langsmith.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: {{ include "langsmith.fullname" . }}-{{ .Values.postgres.name }}
  template:
    metadata:
      annotations:
        {{- include "langsmith.commonPodAnnotations" . | nindent 8 }}
        {{- with .Values.postgres.statefulSet.annotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- with.Values.postgres.statefulSet.labels }}
            {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- include "langsmith.labels" . | nindent 8 }}
        app.kubernetes.io/component: {{ include "langsmith.fullname" . }}-{{ .Values.postgres.name }}
    spec:
      securityContext:
        {{- include "langsmith.podSecurityContext" (dict "Values" .Values "componentSecurityContext" .Values.postgres.statefulSet.podSecurityContext) | nindent 8 }}
      serviceAccountName: {{ include "postgres.serviceAccountName" . }}
      {{- with concat .Values.commonInitContainers .Values.postgres.statefulSet.initContainers }}
      initContainers:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Values.postgres.name }}
          {{- with.Values.postgres.statefulSet.command }}
          command:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            {{- with $envVars }}
             {{- toYaml . | nindent 12 }}
            {{- end }}
          image: {{ include "langsmith.image" (dict "Values" .Values "Chart" .Chart "component" "postgresImage") | quote }}
          imagePullPolicy: {{ include "langsmith.imagePullPolicy" (dict "Values" .Values "Chart" .Chart "component" "postgresImage") }}
          ports:
            - name: postgres
              containerPort: {{ .Values.postgres.containerPort }}
              protocol: TCP
          {{- with .Values.postgres.statefulSet.startupProbe }}
          startupProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.postgres.statefulSet.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.postgres.statefulSet.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.postgres.statefulSet.resources | nindent 12 }}
          securityContext:
            {{- toYaml .Values.postgres.statefulSet.securityContext | nindent 12 }}
          volumeMounts:
            {{- with $volumeMounts }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
            {{- if .Values.postgres.statefulSet.persistence.enabled }}
            - mountPath: /var/lib/postgresql/data
              name: data
              subPath: postgres
            {{- end }}
          {{- with .Values.postgres.statefulSet.extraContainerConfig }}
            {{- toYaml . | nindent 10 }}
          {{- end }}
        {{- with .Values.postgres.statefulSet.sidecars }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.postgres.statefulSet.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.postgres.statefulSet.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.postgres.statefulSet.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.postgres.statefulSet.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $volumes }}
      volumes:
          {{- toYaml . | nindent 8 }}
      {{- end }}
 {{- if .Values.postgres.statefulSet.persistence.enabled }}
  {{- with .Values.postgres.statefulSet.persistentVolumeClaimRetentionPolicy }}
  persistentVolumeClaimRetentionPolicy:
        {{- toYaml . | nindent 4 }}
  {{- end }}
  volumeClaimTemplates:
    - apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: data
        labels:
          {{- include "langsmith.selectorLabels" . | nindent 10 }}
          app.kubernetes.io/component: {{ include "langsmith.fullname" . }}-{{ .Values.postgres.name }}
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: {{ .Values.postgres.statefulSet.persistence.size }}
        {{- if .Values.postgres.statefulSet.persistence.storageClassName }}
        storageClassName: {{ .Values.postgres.statefulSet.persistence.storageClassName }}
        {{- end }}
  {{- end }}
{{- end}}
