# Default values for the langgraph-operator helm chart. Refer to documentation on individual values for help with configuration.

# -- Provide a name in place of `langgraphOperator`
nameOverride: ""
# -- String to fully override `"langgraphOperator.fullname"`
fullnameOverride: ""
# -- Annotations that will be applied to all resources created by the chart
commonAnnotations: {}
# -- Labels that will be applied to all resources created by the chart
commonLabels: {}
# -- Common environment variables that will be applied to all deployments
commonEnv: []

images:
   # -- Secrets with credentials to pull images from a private registry. Specified as name: value.
  imagePullSecrets: []
  operatorImage:
    repository: "docker.io/langchain/langgraph-operator"
    pullPolicy: IfNotPresent
    tag: "0a69130"

config:
  createCRDs: true
  watchNamespaces: ""
  templateConfigmapOverride: ""

manager:
  name: "manager"
  deployment:
    autoRestart: true
    replicas: 1
    labels: {}
    annotations: {}
    podSecurityContext: {}
    securityContext: {}
    resources:
      limits:
        cpu: 2000m
        memory: 4Gi
      requests:
        cpu: 1000m
        memory: 2Gi
    extraContainerConfig: {}
    extraEnv: []
    sidecars: []
    nodeSelector: {}
    tolerations: []
    topologySpreadConstraints: []
    affinity: {}
    volumes: []
    volumeMounts: []
    terminationGracePeriodSeconds: 30
  pdb:
    enabled: false
    minAvailable: 1
  serviceAccount:
    create: true
    name: ""
    labels: {}
    annotations: {}
  rbac:
    create: true
    labels: {}
    annotations: {}

# These templates are used by the operator as the base spec for creating resources.
templates:
  deployment: |
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: ${name}
      namespace: ${namespace}
    spec:
      replicas: ${replicas}
      selector:
        matchLabels:
          app: ${name}
      template:
        metadata:
          labels:
            app: ${name}
        spec:
          enableServiceLinks: false
          containers:
          - name: api-server
            image: ${image}
            ports:
            - name: api-server
              containerPort: 8000
              protocol: TCP
            livenessProbe:
              httpGet:
                path: /ok?check_db=1
                port: 8000
              initialDelaySeconds: 90
              periodSeconds: 5
              timeoutSeconds: 5
            readinessProbe:
              httpGet:
                path: /ok
                port: 8000
              initialDelaySeconds: 90
              periodSeconds: 5
              timeoutSeconds: 5

  service: |
    apiVersion: v1
    kind: Service
    metadata:
      name: ${name}
      namespace: ${namespace}
    spec:
      type: ClusterIP
      selector:
        app: ${name}
      ports:
      - name: api-server
        protocol: TCP
        port: 8000
        targetPort: 8000

  ingress: |
    apiVersion: networking.k8s.io/v1
    kind: Ingress
    metadata:
      name: ${name}
      namespace: ${namespace}
      annotations:
          nginx.ingress.kubernetes.io/rewrite-target: /
    spec:
      ingressClassName: ${ingress.ingressClassName}
      rules:
      - host: ${ingress.hostname}
        http:
          paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: ${name}
                port:
                  number: 8000
