{{- if not .Values.redis.external.enabled }}
{{- $envVars := concat .Values.commonEnv .Values.redis.statefulSet.extraEnv -}}
{{- include "langsmith.detectDuplicates" $envVars -}}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "langsmith.fullname" . }}-{{ .Values.redis.name }}
  labels:
    {{- include "langsmith.labels" . | nindent 4 }}
    {{- with.Values.redis.statefulSet.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- include "langsmith.annotations" . | nindent 4 }}
    {{- with.Values.redis.statefulSet.annotations }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  serviceName: {{ include "langsmith.fullname" . }}-{{ .Values.redis.name }}
  replicas: 1
  selector:
    matchLabels:
      {{- include "langsmith.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: {{ include "langsmith.fullname" . }}-{{ .Values.redis.name }}
  template:
    metadata:
      {{- with .Values.redis.statefulSet.annotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- with.Values.redis.statefulSet.labels }}
            {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- include "langsmith.labels" . | nindent 8 }}
        app.kubernetes.io/component: {{ include "langsmith.fullname" . }}-{{ .Values.redis.name }}
    spec:
      {{- with .Values.images.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.redis.statefulSet.podSecurityContext | nindent 8 }}
      serviceAccountName: {{ include "redis.serviceAccountName" . }}
      {{- with .Values.redis.statefulSet.initContainers }}
      initContainers:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Values.redis.name }}
          {{- with.Values.redis.statefulSet.command }}
          command:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- if or .Values.redis.statefulSet.extraEnv .Values.commonEnv  }}
          env:
            {{- with $envVars }}
             {{- toYaml . | nindent 12 }}
            {{- end }}
           {{- end }}
          image: {{ include "langsmith.image" (dict "Values" .Values "Chart" .Chart "component" "redisImage") | quote }}
          imagePullPolicy: {{ .Values.images.redisImage.pullPolicy }}
          ports:
            - name: redis
              port: {{ .Values.redis.port }}
              protocol: TCP
          {{- with .Values.redis.statefulSet.startupProbe }}
          startupProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.redis.statefulSet.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.redis.statefulSet.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.redis.statefulSet.resources | nindent 12 }}
          securityContext:
            {{- toYaml .Values.redis.statefulSet.securityContext | nindent 12 }}
          {{- if .Values.redis.statefulSet.persistence.enabled }}
          volumeMounts:
            - mountPath: /data
              name: data
            {{- with .Values.redis.statefulSet.volumeMounts }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- else }}
          {{- with .Values.redis.statefulSet.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- end }}
        {{- if .Values.redis.metrics.enabled }}
        - name: redis-metrics-exporter
          image: {{ .Values.redis.metrics.image.repository }}:{{ .Values.redis.metrics.image.tag }}
          imagePullPolicy: {{ .Values.redis.metrics.image.pullPolicy }}
          ports:  
            - name: redis-metrics
              containerPort: {{ .Values.redis.metrics.port }}
          resources:
            {{- toYaml .Values.redis.metrics.resources | nindent 12 }}
          {{- end }}
        {{- with .Values.redis.statefulSet.extraContainerConfig }}
          {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- with .Values.redis.statefulSet.sidecars }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.redis.statefulSet.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.redis.statefulSet.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.redis.statefulSet.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.redis.statefulSet.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.redis.statefulSet.volumes }}
      volumes:
          {{- toYaml . | nindent 8 }}
      {{- end }}
  {{- if .Values.redis.statefulSet.persistence.enabled }}
  {{- with .Values.redis.statefulSet.persistentVolumeClaimRetentionPolicy }}
  persistentVolumeClaimRetentionPolicy:
        {{- toYaml . | nindent 4 }}
  {{- end }}
  volumeClaimTemplates:
    - apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: data
        labels:
          {{- include "langsmith.selectorLabels" . | nindent 10 }}
          app.kubernetes.io/component: {{ include "langsmith.fullname" . }}-{{ .Values.redis.name }}
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: {{ .Values.redis.statefulSet.persistence.size }}
        {{- if .Values.redis.statefulSet.persistence.storageClassName }}
        storageClassName: {{ .Values.redis.statefulSet.persistence.storageClassName }}
        {{- end }}
  {{- end }}
{{- end }}
