{{- if .Values.otelCollector.logs.enabled }}
{{- $namespace := .Values.langsmithNamespace }}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "langsmith-sidecar-collector.name" . }}-role
  namespace: {{ $namespace }}
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "langsmith-sidecar-collector.name" . }}-rolebinding
  namespace: {{ $namespace }}
roleRef:
  kind: Role
  name: {{ include "langsmith-sidecar-collector.name" . }}-role
  namespace: {{ $namespace }}
subjects:
{{- range .Values.otelCollector.serviceAccounts }}
  - kind: ServiceAccount
    name: {{ . }}
    namespace: {{ $namespace }}
{{- end }}
{{- end }}