{{- if and .Values.config.langgraphPlatform.enabled .Values.operator.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "langsmith.fullname" . }}-operator-config
  namespace: {{ .Values.namespace | default .Release.Namespace | quote }}
  labels:
    {{- include "langsmith.labels" . | nindent 4 }}
  annotations:
    {{- include "langsmith.annotations" . | nindent 4 }}
data:
  deployment.yaml.tmpl: |
{{ .Values.operator.templates.deployment | indent 4 }}
  service.yaml.tmpl: |
{{ .Values.operator.templates.service | indent 4 }}
  redis-deployment.yaml.tmpl: |
{{ .Values.operator.templates.redis | indent 4 }}
  database-statefulset.yaml.tmpl: |
{{ .Values.operator.templates.db | indent 4 }}
{{- end }}
