{{- define "validateTemplatesMoved" -}}
{{- $hasListenerTemplates := and (hasKey .Values "listener") (hasKey .Values.listener "templates") (not (empty .Values.listener.templates)) -}}
{{- if $hasListenerTemplates -}}
  {{- fail "Error: templates have moved to the operator. Please move your values from .Values.listener.templates to .Values.operator.templates." -}}
{{- end -}}
{{- end -}}
{{- define "listenerEnvVars" -}}
- name: LANGGRAPH_CLOUD_INGRESS_ENABLED
  value: {{ or .Values.ingress.enabled .Values.gateway.enabled .Values.istioGateway.enabled | quote }}
- name: PORT
  value: {{ .Values.listener.containerPort | quote }}
{{- end }}
{{- include "validateTemplatesMoved" . -}}
{{- $envVars := concat .Values.commonEnv (include "listenerEnvVars" . | fromYamlArray) (include "langgraphDataplane.commonEnv" . | fromYamlArray) .Values.listener.deployment.extraEnv -}}
{{- include "langgraphDataplane.detectDuplicates" $envVars -}}
{{- $volumes := concat .Values.commonVolumes .Values.listener.deployment.volumes -}}
{{- $volumeMounts := concat .Values.commonVolumeMounts .Values.listener.deployment.volumeMounts -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "langgraphDataplane.fullname" . }}-{{ .Values.listener.name }}
  namespace: {{ .Values.namespace | default .Release.Namespace }}
  labels:
    {{- include "langgraphDataplane.labels" . | nindent 4 }}
    app.kubernetes.io/component: {{ include "langgraphDataplane.fullname" . }}-{{ .Values.listener.name }}
    {{- with.Values.listener.deployment.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- include "langgraphDataplane.annotations" . | nindent 4 }}
    {{- with.Values.listener.deployment.annotations }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  {{- if not .Values.listener.autoscaling.enabled }}
  replicas: {{ .Values.listener.deployment.replicas }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "langgraphDataplane.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: {{ include "langgraphDataplane.fullname" . }}-{{ .Values.listener.name }}
  template:
    metadata:
      annotations:
      {{- if .Values.listener.deployment.autoRestart }}
        rollme: {{ randAlphaNum 5 | quote }}
      {{- end }}
      {{- with .Values.listener.deployment.annotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- with.Values.listener.deployment.labels }}
            {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- include "langgraphDataplane.labels" . | nindent 8 }}
        app.kubernetes.io/component: {{ include "langgraphDataplane.fullname" . }}-{{ .Values.listener.name }}
    spec:
      terminationGracePeriodSeconds: {{ .Values.listener.deployment.terminationGracePeriodSeconds }}
      {{- with .Values.images.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.listener.deployment.podSecurityContext | nindent 8 }}
      serviceAccountName: {{ include "listener.serviceAccountName" . }}
      restartPolicy: Always
      containers:
        - name: {{ .Values.listener.name }}
          {{- with.Values.listener.deployment.command }}
          command:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            {{- with $envVars }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
          image: {{ include "langgraphDataplane.image" (dict "Values" .Values "Chart" .Chart "component" "listenerImage") | quote }}
          imagePullPolicy: {{ .Values.images.listenerImage.pullPolicy }}
          ports:
            - name: listener
              containerPort: {{ .Values.listener.containerPort }}
              protocol: TCP
          {{- with .Values.listener.deployment.startupProbe }}
          startupProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.listener.deployment.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.listener.deployment.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.listener.deployment.resources | nindent 12 }}
          securityContext:
            {{- toYaml .Values.listener.deployment.securityContext | nindent 12 }}
          {{- with $volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.listener.deployment.extraContainerConfig }}
            {{- toYaml . | nindent 10 }}
          {{- end }}
        {{- with .Values.listener.deployment.sidecars }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.listener.deployment.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.listener.deployment.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.listener.deployment.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.listener.deployment.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $volumes }}
      volumes:
          {{- toYaml . | nindent 8 }}
      {{- end }}
