{{- if .Values.listener.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "listener.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "langgraphDataplane.labels" . | nindent 4 }}
    {{- with.Values.listener.serviceAccount.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- include "langgraphDataplane.annotations" . | nindent 4 }}
    {{- with.Values.listener.serviceAccount.annotations }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
{{- end }}
