{{- if .Values.mimir.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "langsmith-mimir.name" . }}
  labels:
    {{- include "langsmith-observability.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - name: http
      protocol: TCP
      port: {{ .Values.mimir.service.port }}
      targetPort: {{ .Values.mimir.service.targetPort }}
  selector:
    app: {{ include "langsmith-mimir.name" . }}
{{- end }}