# Read-Only configuration. Use this if you are running in an environment where containers must run as read-only.
config:
  langsmithLicenseKey: "YOUR_LICENSE_KEY"
  apiKeySalt: "YOUR_API_KEY_SALT"
  authType: "mixed"
  basicAuth:
    enabled: true
    initialOrgAdminEmail: "youremail@corp.dev"
    initialOrgAdminPassword: "TestLangSmith123!"
    jwtSecret: "YOUR_JWT_SECRET"
  deployment:
    enabled: true
  hostname: "test.smith.langchain.dev"

ingress:
  enabled: true

aceBackend:
  deployment:
    resources:
      requests:
        cpu: 100m
        memory: 500Mi
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
    securityContext:
      capabilities:
        drop:
          - ALL
      seccompProfile:
        type: RuntimeDefault
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
    volumes:
      - name: tmp
        emptyDir: {}
      - name: deno-cache
        emptyDir: {}
    volumeMounts:
      - name: tmp
        mountPath: /app/node_modules
      - name: deno-cache
        mountPath: /.cache

backend:
  deployment:
    replicas: 1
    resources:
      requests:
        cpu: 100m
        memory: 500Mi
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
    securityContext:
      capabilities:
        drop:
          - ALL
      seccompProfile:
        type: RuntimeDefault
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
  migrations:
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
    securityContext:
      capabilities:
        drop:
          - ALL
      seccompProfile:
        type: RuntimeDefault
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
  clickhouseMigrations:
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
    securityContext:
      capabilities:
        drop:
          - ALL
      seccompProfile:
        type: RuntimeDefault
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
    volumes:
      - name: tmp
        emptyDir: {}
    volumeMounts:
      - name: tmp
        mountPath: /tmp
  authBootstrap:
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
    securityContext:
      capabilities:
        drop:
          - ALL
      seccompProfile:
        type: RuntimeDefault
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
  feedbackConfigMigration:
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
    securityContext:
      capabilities:
        drop:
          - ALL
      seccompProfile:
        type: RuntimeDefault
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
    resources:
      requests:
        cpu: 100m
        memory: 500Mi
  feedbackDataMigration:
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
    securityContext:
      capabilities:
        drop:
          - ALL
      seccompProfile:
        type: RuntimeDefault
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
    resources:
      requests:
        cpu: 100m
        memory: 500Mi

hostBackend:
  deployment:
    resources:
      requests:
        cpu: 100m
        memory: 500Mi
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
    securityContext:
      capabilities:
        drop:
          - ALL
      seccompProfile:
        type: RuntimeDefault
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true

listener:
  deployment:
    resources:
      requests:
        cpu: 100m
        memory: 500Mi
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
    securityContext:
      capabilities:
        drop:
          - ALL
      seccompProfile:
        type: RuntimeDefault
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true

operator:
  createCRDs: false
  deployment:
    resources:
      requests:
        cpu: 100m
        memory: 500Mi
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
    securityContext:
      capabilities:
        drop:
          - ALL
      seccompProfile:
        type: RuntimeDefault
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true

frontend:
  deployment:
    resources:
      requests:
        cpu: 100m
        memory: 500Mi
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
    securityContext:
      capabilities:
        drop:
          - ALL
      seccompProfile:
        type: RuntimeDefault
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
    volumes:
      - name: tmp
        emptyDir: {}
      - name: var-run
        emptyDir: {}
      - name: var-lib-nginx
        emptyDir: {}
    volumeMounts:
      - name: tmp
        mountPath: /tmp
      - name: var-run
        mountPath: /var/run
      - name: var-lib-nginx
        mountPath: /var/lib/nginx

platformBackend:
  deployment:
    replicas: 1
    resources:
      requests:
        cpu: 100m
        memory: 500Mi
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
    securityContext:
      capabilities:
        drop:
          - ALL
      seccompProfile:
        type: RuntimeDefault
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
    # writeable tmp directory for spooling to disk
    volumes:
      - name: tmp
        emptyDir: {}
    volumeMounts:
      - name: tmp
        mountPath: /tmp

playground:
  deployment:
    resources:
      requests:
        cpu: 100m
        memory: 500Mi
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
    securityContext:
      capabilities:
        drop:
          - ALL
      seccompProfile:
        type: RuntimeDefault
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
    volumes:
      - name: tmp
        emptyDir: {}
    volumeMounts:
      - name: tmp
        mountPath: /tmp

queue:
  deployment:
    replicas: 1
    resources:
      requests:
        cpu: 100m
        memory: 500Mi
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
    securityContext:
      capabilities:
        drop:
          - ALL
      seccompProfile:
        type: RuntimeDefault
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true

ingestQueue:
  enabled: false


postgres:
  statefulSet:
    resources:
      requests:
        cpu: 200m
        memory: 500Mi
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
    securityContext:
      capabilities:
        drop:
          - ALL
      seccompProfile:
        type: RuntimeDefault
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
    volumes:
      - name: tmp
        emptyDir: {}
      - name: postgres
        emptyDir: {}
    volumeMounts:
      - name: tmp
        mountPath: /tmp
      - name: postgres
        mountPath: /run/postgresql

redis:
  statefulSet:
    resources:
      requests:
        cpu: 200m
        memory: 500Mi
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
    securityContext:
      capabilities:
        drop:
          - ALL
      seccompProfile:
        type: RuntimeDefault
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true

clickhouse:
  statefulSet:
    resources:
      requests:
        cpu: 200m
        memory: 500Mi
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 101
      runAsGroup: 101
      fsGroup: 101
    securityContext:
      capabilities:
        drop:
          - ALL
      seccompProfile:
        type: RuntimeDefault
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
    volumes:
      - name: tmp
        emptyDir: {}
      - name: var
        emptyDir: {}
      - name: etc
        emptyDir: {}
    volumeMounts:
      - name: tmp
        mountPath: /tmp
      - name: var
        mountPath: /var
      - name: etc
        mountPath: /etc/clickhouse-server/users.d
