{{- if not .Values.config.existingSecretName }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "langGraphCloud.secretsName" . }}
  namespace: {{ .Values.namespace | default .Release.Namespace | quote }}
  labels:
    {{- include "langGraphCloud.labels" . | nindent 4 }}
  annotations:
    {{- include "langGraphCloud.annotations" . | nindent 4 }}
data:
  langgraph_cloud_license_key: {{ default "" .Values.config.langGraphCloudLicenseKey | b64enc | quote }}
  api_key: {{ default "" .Values.config.apiKey | b64enc | quote }}
{{- end }}
