{{- if and (not .Values.config.existingSecretName) (or .Values.config.langGraphCloudLicenseKey .Values.config.apiKey) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "langGraphCloud.secretsName" . }}
  namespace: {{ .Values.namespace | default .Release.Namespace | quote }}
  labels:
    {{- include "langGraphCloud.labels" . | nindent 4 }}
  annotations:
    {{- include "langGraphCloud.annotations" . | nindent 4 }}
data:
  {{- if .Values.config.langGraphCloudLicenseKey }}
  langgraph_cloud_license_key: {{ .Values.config.langGraphCloudLicenseKey | b64enc | quote }}
  {{- end }}
  {{- if .Values.config.apiKey }}
  api_key: {{ .Values.config.apiKey | b64enc | quote }}
  {{- end }}
{{- end }}
