name: "CI: Test Docker Compose"

on:
  push:
    branches: [ main ]
    paths:
  pull_request:
    branches: [ main ]
    paths:
      - ".github/workflows/test_docker_compose.yml"
      - "charts/langsmith/docker-compose/docker-compose.yaml"


concurrency:
  group: "test-docker-compose"
  cancel-in-progress: true

jobs:

  docker-compose:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    env:
      LANGSMITH_LICENSE_KEY: ${{ secrets.LANGSMITH_LICENSE_KEY }}
      API_KEY_SALT: test

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - uses: KengoTODA/actions-setup-docker-compose@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Start containers
      working-directory: charts/langsmith/docker-compose
      run: docker compose up -d

    - name: sleep 60 seconds
      run: sleep 60

    - name: Check backend health
      run: curl localhost:1980/api/v1/info

